img {border:0px;}
body {
    min-width:1000px;
    margin: 0px auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	
}
h1 {
    color: #555555;
}
h2 {
    color: #2dabc1;
}
a:link
{
    color: #2dabc1;
    text-decoration: none;
}
a:hover
{ 
    text-decoration:underline;
}
.RadGrid{
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#ContentTable
{
    width: 100%;
    border-collapse:collapse;
}
#ContentTable #ContentImage
{
    height:80px;
    background-color: #ffffff; 
    vertical-align: top;  
    padding:0px;
}
#ContentTable #ContentImage #divImage
{
    height:80px;
    padding:0px;
}
#ContentTable #ContentInformation
{
    background-color: #ffffff; 
    vertical-align: middle; 
    padding-left:5px; 
    color: #555555;
}
#ContentTable #ContentInformation b
{
    font-size:medium;
}
#ContentTable #ContentInformation a
{
    color: #2dabc1;
}
#ContentTable #ContentSidePanel
{
    background-color: #ffffff; 
    width: 100%; 
    padding-top:0px;
}
#ContentTable #ContentBody
{
    vertical-align:top;
    padding:20px;
    background-color:#edecec;
}

.RadGrid_Metro .rgAltRow td
{
    border:none !important;
}

.SectionContent
{
    background-color:#ffffff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color:#2dabc1;
    padding:10px;
}

.SectionContent h2
{
    text-align:center;
}
.SiteFundingTable Table
{
    border-spacing:0 !important;
    -webkit-border-horizontal-spacing: 0px !important;
    -webkit-border-vertical-spacing: 0px !important;
    padding:0px !important;
    border:0px !important;
    margin:0px !important;
}
.SiteFundingTable Table tr
{
    height: 20px !important;
    border:none !important;
    border-spacing:0 !important;
    padding:0px !important;
    border:0px !important;
    margin:0px !important;
}
.SiteFundingTable Table tr td
{
    height:20px !important;
    border:none !important;
    border-spacing:0 !important;
    border:none !important;
    font-size:small;
    padding:0px !important;
    border:0px !important;
    margin:0px !important;
}

